$baseline: 1.5rem;

$background:#f9f9f9;
$color:#222;

$links: #00f;
$hover-links:#c00;
$visited-links:#009;

$font-size: 1.0rem;
$font-family: Segoe UI,system-ui,-apple-system,sans-serif;
$line-height: 1.25;
$code_font:  ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
//SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

$quote-bg: #dcdcdc;
$quote-border: #808080 8px solid;
