{%- set data = load_data(path="static/data/specs.json") -%}
<ul>
{% for spec_id in page.taxonomies.spec -%}
{%- set ref = spec_id| upper -%}
{%- set spec = data[ref] -%}
{%- set url_ref = spec_id| lower -%}
{%- set url = get_url(path="@/spec/" ~ url_ref ~ ".md") -%}
<li><a href="{{url}}" class="spec_ref">[{{ ref | upper }}]</a> 
{{ spec.title }}
{{ spec.version }}
{%- if spec.publication_year %}({{ spec.publication_year }}).{% endif %}
{%- if spec.see %} See {{spec.see}}.{% endif %}
</li>
{%- endfor %}
</ul>
