{%- set ref = ref | lower -%}
{%- set url = get_url(path="@/spec/" ~ ref ~ ".md") -%}
{%- set data = load_data(path="static/data/specs.json") -%}
{%- set ref = ref | upper -%}
{%- set spec = data[ref] -%}
<hr/>
<a href="{{url}}" class="spec_ref">[{{ ref | upper }}]</a> 
{{ spec.title }}
{{ spec.version }}
({{ spec.publication_year }}). See {{spec.see}}.
<p>Raw spec data for now: </p>
<p>
{%- for key, value in spec %} 
&nbsp;&nbsp;&nbsp;&nbsp;{{key}}: {{value}}<br/>
{%- endfor %}
</p>
(TODO: decide which fields, and make it look nicer)
