{%- set ref = ref | lower -%}
{%- set url = get_url(path="@/spec/" ~ ref ~ ".md") -%}
{%- set data = load_data(path="static/data/specs.json") -%}
{%- set ref = ref | upper -%}
{%- set spec = data[ref] -%}
<hr/>
<a href="{{url}}" class="spec_ref">[{{ ref | upper }}]</a> 
{{ spec.title }}
{{ spec.version }}
({{ spec.publication_year }}). See {{spec.see}}.
<p>TODO: implement spec details widget </p>
<p>
{%- for key, value in spec %} 
|&nbsp;&nbsp;&nbsp;&nbsp;<b>{{key}}</b>: {{value}}<br/>
{%- endfor %}
</p>
