{%- set ref = ref | lower -%}
{%- set url = get_url(path="@/spec/" ~ ref ~ ".md") -%}
{%- set data = load_data(path="static/data/specs.json") -%}
{%- set ref = ref | upper -%}
{%- set spec = data[ref] -%}
<hr/>
<a href="{{url}}" class="spec_ref">[{{ ref | upper }}]</a> 
{{ spec.title }}
{{ spec.version }}
({{ spec.publication_year }}).
{%- if spec.see %} See {{spec.see}}.{% endif %}

{%- if spec.urls %} 
<p>URLs:
<ul>
  {%- for url in spec.urls %}
  <li><a href="{{url}}">{{url}}</a> </li>
  {%- endfor %}
</ul></p>
{% endif %}

<p>TODO: implement spec_detail widget </p>
<p>
{%- for key, value in spec %} 
|&nbsp;&nbsp;&nbsp;&nbsp;<b>{{key}}</b>: {{value}}<br/>
{%- endfor %}
</p>
