{%- set data = load_data(path="static/data/wrid_data.json") %}

{#- set parameter defaults #}
{%- if spec %}
    {%- set data = data | filter(attribute="spec", value=spec) %}
{%- endif %}
{%- if col_desc is undefined %}
    {%- set col_desc = true %}
{%- endif %}
{%- if col_wrid is undefined %}
    {%- set col_wrid = true %}
{%- endif %}
{%- if col_group is undefined %}
    {%- set col_group = false %}
{%- endif %}
{%- if col_name_spec is undefined %}
    {%- set col_name_spec = false %}
{%- endif %}
{%- if col_type_spec is undefined %}
    {%- set col_type_spec = false %}
{%- endif %}

{%- if prefix %}
    {%- set pattern = "^" ~ prefix ~ ">[^>]*$" %}
{%- else %}
    {%- set pattern = "" %}
{%- endif %}

{%- if prefix and not trim_prefix %}
    {%- set trim_prefix = prefix %}
{%- endif %}

{#- check the subset of the data we're showing, 
        true if any rows have data in condition column #}
{%- set condition_in_pattern = false %}
{%- set has_condition= data | filter(attribute="condition") %} 
{%- for item in has_condition %}
  {%- if not prefix or item.WRID is matching(pattern) %}
    {%- set_global condition_in_pattern = true %}
  {%- endif %}
{%- endfor %}

<table>
  <thead>
    <tr>
      <th>Chunk</th>
      {% if col_group %}<th>Group</th>{% endif -%}
      <th>Name</th>
      {% if col_name_spec %}<th>Name<br/>as Specified</th>{% endif -%}
      <th>Bytes</th>
      <th>Type</th>
      {% if col_type_spec%}<th>Type<br/>as Specified</th>{% endif -%}
      {% if condition_in_pattern %}<th>condition</th>{% endif -%}
      {% if col_desc %}<th>Description</th>{% endif -%}
      {% if col_wrid %}<th>WRID</th>{% endif -%}
    </tr>
  </thead>
  <tbody>
  {%- for wrid in data %}
    {%- if not prefix or wrid.WRID is matching(pattern) %}
    {%- if not group or wrid.group == group %} 
    <tr>
      <td>{{ wrid.chunk}}</td>
      {%- if col_group %}
      <td class="desc">{% if wrid.group%}{{ wrid.group}}{% endif %}</td>
      {%- endif %}
      <td><code>{{ wrid.name}}</code></td>
      {%- if col_name_spec %}
      <td class="desc">{% if wrid.name_spec %}{{ wrid.name_spec }}{% endif %}</td>
      {%- endif %}
      <td><code>{{ wrid.bytes}}</code></td>
      <td class="type"><code>{{ wrid.type}}</code></td>
      {%- if col_type_spec %}
      <td class="desc">{% if wrid.type_spec%}{{ wrid.type_spec}}{% endif %}</td>
      {%- endif %}
      {%- if condition_in_pattern %} <td class="condition">
         <code>{{ wrid.condition}}</code>
      </td> {% endif %}
      {%- if col_desc%}
      <td class="desc">{% if wrid.desc %}{{ wrid.desc | markdown(inline=true) |safe }}{% endif %}</td>
      {%- endif %}
      {%- if col_wrid %}
      {%- if prefix %}
      <td class="WRID">{{ wrid.WRID | replace(from=trim_prefix, to="...") }}</td>
      {%- else %}
      <td class="WRID">{{ wrid.WRID }}</td>
      {%- endif %}
      {%- endif %}
    </tr>
    {%- endif %}
    {%- endif %}
  {%- endfor %}
  </tbody>
</table>

