{% set data = load_data(path="static/data/wrid_data.json") %}

{%- if prefix %}
    {%- set pattern = "^" ~ prefix ~ ">[^>]*[^}]>id$" %}
    {%- set filtered_data = [] %}
    {%- for wrid in data %}
        {%- if not prefix or wrid.WRID is matching(pattern) %}
        {%- endif %}
    {%- endfor %}
{%- else %}
    {%- set pattern = "" %}
{%- endif %}

{%- set literal_in_pattern = false %}
{%- set has_literal = data | filter(attribute="literal_value") %} 
{%- for item in has_literal %}
  {%- if not prefix or item.WRID is matching(pattern) %}
{%- set_global literal_in_pattern = true %}
  {%- endif %}
{%- endfor %}

<table>
  <thead>
    <tr>
      {% if literal_in_pattern %}<th>literal</th>{% endif %}
      <th>Description</th>
      <th>WRID</th>
    </tr>
  </thead>
  <tbody>
  {%- for wrid in data %}
    {%- if not prefix or wrid.WRID is matching(pattern) %}
    <tr>
      {% if literal_in_pattern %}<td>
          {%- if wrid.literal_value %}<code>"{{ wrid.literal_value}}"</code>{% endif -%}
      </td> {% endif %}
      <td>{{ wrid.desc_spec}}</td>
      {%- if prefix %}
      <td class="WRID">{{ wrid.WRID | replace(from=prefix, to="...") }}</td>
      {%- else %}
      <td class="WRID">{{ wrid.WRID }}</td>
      {%- endif %}
    </tr>
    {%- endif %}
  {%- endfor %}
  </tbody>
</table>

