{% set data = load_data(path="static/data/wrid_data.json") %}

{%- if spec %}
    {% set data = data | filter(attribute="spec", value=spec) %}
{%- endif %}
{%- if col_desc is undefined %}
    {% set col_desc = true %}
{%- endif %}
{%- if col_wrid is undefined %}
    {% set col_wrid = true %}
{%- endif %}

{%- if prefix %}
    {%- set pattern = "^" ~ prefix ~ ">[^>]*$" %}
    {%- set filtered_data = [] %}
    {%- for wrid in data %}
        {%- if not prefix or wrid.WRID is matching(pattern) %}
        {%- endif %}
    {%- endfor %}
{%- else %}
    {%- set pattern = "" %}
{%- endif %}

{%- set condition_in_pattern = false %}
{%- set has_condition= data | filter(attribute="condition") %} 
{%- for item in has_condition %}
  {%- if not prefix or item.WRID is matching(pattern) %}
    {%- set_global condition_in_pattern = true %}
  {%- endif %}
{%- endfor %}

<table>
  <thead>
    <tr>
      <th>Chunk</th>
      <th>Name</th>
      <th>Bytes</th>
      <th>Type</th>
      {% if condition_in_pattern %}<th>condition</th>{% endif -%}
      {% if col_desc %}<th>Description</th>{% endif -%}
      {% if col_wrid %}<th>WRID</th>{% endif -%}
    </tr>
  </thead>
  <tbody>
  {%- for wrid in data %}
    {%- if not prefix or wrid.WRID is matching(pattern) %}
    <tr>
      <td>{{ wrid.chunk}}</td>
      <td><code>{{ wrid.name}}</code></td>
      <td><code>{{ wrid.bytes}}</code></td>
      <td class="type"><code>{{ wrid.type}}</code></td>
      {%- if condition_in_pattern %} <td class="condition">
         <code>{{ wrid.condition}}</code>
      </td> {% endif %}
      {%- if col_desc%}
      <td class="desc">{% if wrid.desc %}{{ wrid.desc | markdown(inline=true) |safe }}{% endif %}</td>
      {%- endif %}
      {%- if col_wrid %}
      {%- if prefix %}
      <td class="WRID">{{ wrid.WRID | replace(from=prefix, to="...") }}</td>
      {%- else %}
      <td class="WRID">{{ wrid.WRID }}</td>
      {%- endif %}
      {%- endif %}
    </tr>
    {%- endif %}
  {%- endfor %}
  </tbody>
</table>

